{% load compress %}
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    {% compress css %}
    {% block css %}
    {% endblock %}
    {% endcompress %}

    <title>{% block page_title %}{{ _("Your Site") }}{% endblock %}</title>
</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>
    {% block body %}

    <div class="main">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% block footer %}
        <div class="container">
        </div>
        {% endblock footer %}
    </footer>

    {% endblock %}
</body>
</html>
