{% extends "id_generate/base.html" %}

{% load staticfiles %}
{% block page_title %}JAXid Batch Generator{% endblock %}
<body class="{% block body_class %}{% endblock %}">
{% block body %}

{% block content %}
<div class="container">
    <h2>Yo ID-Master!</h2>
    <form action="batch" method="post">
        {% include "id_generate/form_snippet.html" %}
        <div class="btn-group btn-group-sm">
            <button type="submit" class="btn btn-default">Export IDs!</button>
        </div>
    </form>
</div>

{% endblock %}

{% endblock %}
</body>
</html>
