{% extends "id_generate/base.html" %}

{% load staticfiles %}

  <title>{% block page_title %}JAXid Generator and Lister{% endblock %}</title>

</head>
<body class="{% block body_class %}base{% endblock %}">
{% block body %}

  <div class="main">
    {% block content %}
    How many IDs do you want to create?<br/>
    What kind of ID (sample, box, plate)?<br/>
    {% endblock %}
  </div>

{% endblock %}

{% compress js %}
<!--<script src="{% static 'js/choose_selects.js' %}"></script>-->
{% endcompress %}

</body>
</html>
