[submodule "django-suit-v2"]
	path = src/django-suit
	url = git@github.com:darklow/django-suit.git
	branch = v2
[submodule "django-import-export"]
	path = src/django-import-export
	url = git@github.com:django-import-export/django-import-export.git
    branch = master
[submodule "databrowse"]
	path = src/databrowse
	url = git@github.com:cometsong/django-databrowse.git
	branch = master
