SHELL=/usr/bin/bash
PATH=/usr/local/bin/:/usr/bin:/bin:/usr/sbin:/sbin
MAILTO=${USER}@jax.org
HOME=/home/${USER}

DjangoApp=jaxid_generator

# Daily
#0  0  *  *  * /var/www/apps/${DjangoApp}/dumpdata_django_db.sh ${DjangoApp}
#*  15  *  *  * /var/www/apps/${DjangoApp}/dumpdata_django_db.sh ${DjangoApp}

* * * * * echo -e "\aBEEEP\n" >/dev/pts/1
* * * * * rm -f /tmp/env.txt && env > /tmp/env.txt

