diff-match-patch==20121119
Django==1.11.6
django-admin-tools==0.8.1
django-admin-view-permission==1.1
django-appconf==1.0.2
django-compressor==2.2
django-debug-toolbar==1.8
django-excel==0.0.9
-e git+git@github.com:django-import-export/django-import-export.git@1deead657a88e8c2c1f36b99007937c1e7350459#egg=django_import_export&subdirectory=../../../src/django-import-export
-e git+git@github.com:cometsong/django-mysql.git@037d4a01665f12801353318ceb497e79e30d1e29#egg=django_mysql
django-nose==1.4.5
django-polymorphic==1.3
Django-Select2==5.11.1
django-suit==2.0a1
django-tables2==1.12.0
django-template-finder==0.6.2
et-xmlfile==1.0.1
jdcal==1.3
jedi==0.11.0
lml==0.0.1
mysqlclient==1.3.12
nose==1.3.7
nose-parameterized==0.6.0
odfpy==1.3.5
olefile==0.44
openpyxl==2.4.9
parso==0.1.0
Pillow==4.3.0
pluggy==0.5.2
py==1.4.34
pyexcel==0.5.6
pyexcel-io==0.5.3
pyexcel-webio==0.1.4
pyexcel-xlsx==0.5.2
pytest==3.2.3
pytest-django==3.1.2
pytz==2017.2
PyYAML==3.12
rcssmin==1.0.6
rjsmin==1.0.12
six==1.11.0
sqlparse==0.2.4
tablib==0.12.1
texttable==1.1.0
tox==2.9.1
unicodecsv==0.14.1
Unidecode==0.4.21
virtualenv==15.1.0
xlrd==1.1.0
xlwt==1.3.0
