apipkg==1.4
attrs==17.3.0
diff-match-patch==20121119
Django==1.11.7
django-admin-tools==0.8.1
django-adminlogentries==0.1.0
django-appconf==1.0.2
django-compressor==2.2
-e git+git@github.com:Alir3z4/django-databrowse.git@8717a2ae4eac7d0bc36b7181b982f7c42f8895b2#egg=django_databrowse
django-debug-toolbar==1.9.1
-e git+git@github.com:django-import-export/django-import-export.git@555c23c3edb956a077fecbdb9b66d7fe2eb5fdba#egg=django_import_export&subdirectory=../../../src/django-import-export
-e git+git@github.com:cometsong/django-mysql.git@037d4a01665f12801353318ceb497e79e30d1e29#egg=django_mysql
django-polymorphic==1.3
django-select2==6.0.0
-e git+git@github.com:darklow/django-suit.git@613c84cba6f8fb6a23b771da96ab8c05808fb5dc#egg=django_suit
django-tables2==1.16.0
django-template-finder==0.6.2
et-xmlfile==1.0.1
execnet==1.5.0
jdcal==1.3
jedi==0.11.1
mysqlclient==1.3.12
odfpy==1.3.6
olefile==0.44
openpyxl==2.4.9
parso==0.1.1
Pillow==4.3.0
pluggy==0.6.0
py==1.5.2
pyflakes==1.6.0
pytest==3.3.1
pytest-cache==1.0
pytest-django==3.1.2
pytest-flakes==2.0.0
pytz==2017.3
PyYAML==3.12
rcssmin==1.0.6
rjsmin==1.0.12
six==1.11.0
spiny==0.6
sqlparse==0.2.4
tablib==0.12.1
unicodecsv==0.14.1
Unidecode==0.4.21
xlrd==1.1.0
xlwt==1.3.0
